In [46]:
# Load in the library
import pandas as pd
import numpy as np

In [47]:
# Load in the data
df_calendar = pd.read_csv("../MelbDatathon2018/calendar.txt", 
                          sep="|",
                          header=None,
                          index_col=False,
                          names=['Date_YYYYMMDD',
                                 'Date',
                                 'CalendarYear',
                                 'FinancialYear',
                                 'FinancialMonth',
                                 'CalendarMonth',
                                 'CalendarMonthSeq',
                                 'CalendarQuarter',
                                 'FinancialQuarter',
                                 'CalendarWeek',
                                 'FinancialWeek',
                                 'DayType',
                                 'DayTypeCategory',
                                 'WeekdaySeq',
                                 'WeekDay',
                                 'FinancialMonthSeq',
                                 'FinancialMonthName',
                                 'MonthNumber',
                                 'ABSWeek',
                                 'WeekEnding',
                                 'QuarterName'
                                ]
                         )

In [48]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7440 entries, 0 to 7439
Data columns (total 21 columns):
Date_YYYYMMDD         7440 non-null int64
Date                  7440 non-null object
CalendarYear          7440 non-null int64
FinancialYear         7440 non-null object
FinancialMonth        7440 non-null int64
CalendarMonth         7440 non-null object
CalendarMonthSeq      7440 non-null int64
CalendarQuarter       7440 non-null object
FinancialQuarter      7440 non-null object
CalendarWeek          7440 non-null int64
FinancialWeek         7440 non-null int64
DayType               7440 non-null object
DayTypeCategory       7440 non-null object
WeekdaySeq            7440 non-null object
WeekDay               7440 non-null int64
FinancialMonthSeq     7440 non-null object
FinancialMonthName    7440 non-null int64
MonthNumber           7440 non-null object
ABSWeek               7440 non-null int64
WeekEnding            7440 non-null int64
QuarterName           7440 non-null object
dtypes: int64(10), object(11)
memory usage: 1.2+ MB

In [49]:
df_calendar.sample(5, random_state=101)

,Date_YYYYMMDD,Date,CalendarYear,FinancialYear,FinancialMonth,CalendarMonth,CalendarMonthSeq,CalendarQuarter,FinancialQuarter,CalendarWeek,...,DayType,DayTypeCategory,WeekdaySeq,WeekDay,FinancialMonthSeq,FinancialMonthName,MonthNumber,ABSWeek,WeekEnding,QuarterName
4432,20031027,2003-10-27,2003,FY2003 - 2004,10,October,200310,2003Q4,FY03-04Q2,43,...,Weekday,Weekday,Normal Weekday,1,Monday,200410,Oct 03/,10,513,w/e 2003-11-01
7188,20140514,2014-05-14,2014,FY2013 - 2014,17,May,201405,2014Q2,FY13-14Q4,19,...,Weekday,Weekday,Normal Weekday,3,Wednesday,201405,May 13/,5,1063,w/e 2014-05-17
1513,20000913,2000-09-13,2000,FY2000 - 2001,9,September,200009,2000Q3,FY00-01Q1,37,...,Weekday,Weekday,Normal Weekday,3,Wednesday,200109,Sep 00/,9,350,w/e 2000-09-16
1127,20050305,2005-03-05,2005,FY2004 - 2005,15,March,200503,2005Q1,FY04-05Q3,9,...,Saturday,Weekend,Saturday,6,Saturday,200515,Mar 04/,3,583,w/e 2005-03-05
6641,20080806,2008-08-06,2008,FY2008 - 2009,8,August,200808,2008Q3,FY08-09Q1,31,...,Weekday,Weekday,Normal Weekday,3,Wednesday,200808,Aug 08/,8,762,w/e 2008-08-09

In [50]:
# Last keep on 2015 or late data
df_calendar = df_calendar[df_calendar.CalendarYear >= 2015]

In [51]:
df_calendar.CalendarYear.min()

2015

In [52]:
col_toDrop = ['FinancialYear', 
              'FinancialQuarter',
              'FinancialMonth',
              'CalendarMonth', 
              'CalendarMonthSeq', 
              'CalendarQuarter', 
              'FinancialMonthSeq', 
              'FinancialMonthName', 
              'MonthNumber', 
              'WeekEnding', 
              'QuarterName']

df_calendar.drop(col_toDrop, axis=1, inplace=True)

In [53]:
calendar_df.sample(5, random_state=101)

,Date_YYYYMMDD,Date,CalendarYear,CalendarWeek,FinancialWeek,DayType,DayTypeCategory,WeekdaySeq,WeekDay,ABSWeek
636,20161222,2016-12-22,2016,51,25,Weekday,Weekday,School Holiday Weekday,4,12
2851,20170507,2017-05-07,2017,19,45,Sunday,Weekend,Sunday,7,5
3283,20180122,2018-01-22,2018,3,30,Weekday,Weekday,School Holiday Weekday,1,1
267,20180301,2018-03-01,2018,8,35,Weekday,Weekday,Normal Weekday,4,3
4196,20180120,2018-01-20,2018,2,29,Saturday,Weekend,Saturday,6,1

In [54]:
df_calendar['Date'] = pd.to_datetime(df_calendar.Date)

In [55]:
calendar_df.sort_values('Date_YYYYMMDD', inplace=True)

In [56]:
df_calendar['diff'] = df_calendar.groupby('Date_YYYYMMDD')['Date'].diff() / np.timedelta64(1, 'D')
df_calendar['diff'] = df_calendar['diff'].fillna(0)

In [60]:
df_calendar[df_calendar['diff'] != 1]

,Date_YYYYMMDD,Date,CalendarYear,CalendarWeek,FinancialWeek,DayType,DayTypeCategory,WeekdaySeq,WeekDay,ABSWeek,diff
0,20170930,2017-09-30,2017,39,13,Saturday,Weekend,Saturday,6,9,0.0
3,20190620,2019-06-20,2019,24,51,Weekday,Weekday,0,4,6,0.0
4,20170831,2017-08-31,2017,35,9,Weekday,Weekday,Normal Weekday,4,8,0.0
5,20150908,2015-09-08,2015,36,10,Weekday,Weekday,Normal Weekday,2,9,0.0
7,20161229,2016-12-29,2016,52,26,Weekday,Weekday,School Holiday Weekday,4,12,0.0
10,20190605,2019-06-05,2019,22,49,Weekday,Weekday,0,3,6,0.0
12,20170415,2017-04-15,2017,15,41,Public Holiday,Public Holiday,Public Holiday,6,4,0.0
13,20160520,2016-05-20,2016,20,46,Weekday,Weekday,Normal Weekday,5,5,0.0
14,20180407,2018-04-07,2018,13,40,Saturday,Weekend,Saturday,6,4,0.0
16,20171122,2017-11-22,2017,47,21,Weekday,Weekday,Normal Weekday,3,11,0.0
17,20180920,2018-09-20,2018,37,12,Weekday,Weekday,Normal Weekday,4,9,0.0
18,20170528,2017-05-28,2017,22,48,Sunday,Weekend,Sunday,7,5,0.0
24,20180423,2018-04-23,2018,16,43,Weekday,Weekday,Normal Weekday,1,4,0.0
25,20171204,2017-12-04,2017,49,23,Weekday,Weekday,Normal Weekday,1,12,0.0
33,20150719,2015-07-19,2015,29,3,Sunday,Weekend,Sunday,7,7,0.0
35,20190317,2019-03-17,2019,11,38,Sunday,Weekend,0,7,3,0.0
42,20151003,2015-10-03,2015,39,13,Saturday,Weekend,Saturday,6,10,0.0
46,20161127,2016-11-27,2016,48,22,Sunday,Weekend,Sunday,7,11,0.0
49,20180625,2018-06-25,2018,25,52,Weekday,Weekday,Normal Weekday,1,6,0.0
55,20161006,2016-10-06,2016,40,14,Weekday,Weekday,Normal Weekday,4,10,0.0
69,20190905,2019-09-05,2019,35,9,Weekday,Weekday,0,4,9,0.0
82,20170720,2017-07-20,2017,29,3,Weekday,Weekday,Normal Weekday,4,7,0.0
92,20171015,2017-10-15,2017,42,16,Sunday,Weekend,Sunday,7,10,0.0
98,20150412,2015-04-12,2015,15,41,Sunday,Weekend,Sunday,7,4,0.0
101,20150526,2015-05-26,2015,21,47,Weekday,Weekday,Normal Weekday,2,5,0.0
107,20171025,2017-10-25,2017,43,17,Weekday,Weekday,Normal Weekday,3,10,0.0
109,20160713,2016-07-13,2016,28,2,Weekday,Weekday,Normal Weekday,3,7,0.0
114,20160229,2016-02-29,2016,9,35,Weekday,Weekday,Normal Weekday,1,2,0.0
117,20191016,2019-10-16,2019,41,15,Weekday,Weekday,0,3,10,0.0
119,20190928,2019-09-28,2019,38,12,Saturday,Weekend,0,6,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7332,20191006,2019-10-06,2019,40,14,Sunday,Weekend,0,7,10,0.0
7342,20180212,2018-02-12,2018,6,33,Weekday,Weekday,Normal Weekday,1,2,0.0
7348,20190321,2019-03-21,2019,11,38,Weekday,Weekday,0,4,3,0.0
7349,20170405,2017-04-05,2017,14,40,Weekday,Weekday,School Holiday Weekday,3,4,0.0
7350,20171121,2017-11-21,2017,47,21,Weekday,Weekday,Normal Weekday,2,11,0.0
7352,20170716,2017-07-16,2017,29,3,Sunday,Weekend,Sunday,7,7,0.0
7353,20160107,2016-01-07,2016,1,27,Weekday,Weekday,School Holiday Weekday,4,1,0.0
7356,20170429,2017-04-29,2017,17,43,Saturday,Weekend,Saturday,6,4,0.0
7360,20161130,2016-11-30,2016,48,22,Weekday,Weekday,Normal Weekday,3,11,0.0
7361,20170108,2017-01-08,2017,2,28,Sunday,Weekend,Sunday,7,1,0.0
7365,20180510,2018-05-10,2018,18,45,Weekday,Weekday,Normal Weekday,4,5,0.0
7369,20180516,2018-05-16,2018,19,46,Weekday,Weekday,Normal Weekday,3,5,0.0
7374,20180522,2018-05-22,2018,20,47,Weekday,Weekday,Normal Weekday,2,5,0.0
7376,20170707,2017-07-07,2017,27,1,Weekday,Weekday,School Holiday Weekday,5,7,0.0
7378,20190719,2019-07-19,2019,28,2,Weekday,Weekday,0,5,7,0.0
7379,20181205,2018-12-05,2018,48,23,Weekday,Weekday,Normal Weekday,3,12,0.0
7381,20190511,2019-05-11,2019,18,45,Saturday,Weekend,0,6,5,0.0
7384,20160320,2016-03-20,2016,12,38,Sunday,Weekend,Sunday,7,3,0.0
7386,20200321,2020-03-21,2020,11,37,Saturday,Weekend,0,6,3,0.0
7391,20191119,2019-11-19,2019,46,20,Weekday,Weekday,0,2,11,0.0
7394,20190125,2019-01-25,2019,3,30,Weekday,Weekday,0,5,1,0.0
7401,20190318,2019-03-18,2019,11,38,Weekday,Weekday,0,1,3,0.0
7411,20170328,2017-03-28,2017,13,39,Weekday,Weekday,Normal Weekday,2,3,0.0
7417,20160618,2016-06-18,2016,24,50,Saturday,Weekend,Saturday,6,6,0.0
7421,20170916,2017-09-16,2017,37,11,Saturday,Weekend,Saturday,6,9,0.0
7424,20181030,2018-10-30,2018,43,18,Weekday,Weekday,Normal Weekday,2,10,0.0
7434,20170412,2017-04-12,2017,15,41,Weekday,Weekday,School Holiday Weekday,3,4,0.0
7436,20200506,2020-05-06,2020,18,44,Weekday,Weekday,0,3,5,0.0
7437,20190801,2019-08-01,2019,30,4,Weekday,Weekday,0,4,8,0.0
7438,20200417,2020-04-17,2020,15,41,Weekday,Weekday,0,5,4,0.0

In [72]:
df_calendar.diff > 0

True

In [73]:
df_calendar['isDiff'] = df_calendar['diff'] > 0

In [75]:
df_calendar.shape

(1961, 12)

In [76]:
sum((df_calendar.isDiff == True).astype(int))

0

In [79]:
df_calendar.DayTypeCategory.value_counts()

Weekday           1369
Weekend            550
Public Holiday      42
Name: DayTypeCategory, dtype: int64

In [77]:
df_calendar.DayType.value_counts()

Weekday           1369
Saturday           275
Sunday             275
Public Holiday      42
Name: DayType, dtype: int64

In [78]:
df_calendar.WeekdaySeq.value_counts()

Normal Weekday            797
0                         500
Saturday                  203
School Holiday Weekday    203
Sunday                    203
Public Holiday             55
Name: WeekdaySeq, dtype: int64

#### FE idea
 - Weekday - Done
 - Weekend - Done
 - Puplic holiday during weekday - Done
 - Puplic holiday during weekend - Done
 - School holiday or public holiday - Done
 - Day before/after any holiday - Done
 - Day before/after public holiday - Done
 - Day before/after scholl holiday
 - Day before/after weekend
 - Is Long Weekend (3 days continous holiday)
 - AL Long Weekend (public holiday on Tuesday or Thrusday)

In [95]:
## FE Code

df_calendar['isWeekday'] = df_calendar.Date.dt.dayofweek >= 5
df_calendar['isWeekend'] = df_calendar.Date.dt.dayofweek < 5
df_calendar['iPH'] = df_calendar.DayType == 'Public Holiday'
df_calendar['iSchoolH'] = df_calendar.WeekdaySeq == 'School Holiday Weekday'
df_calendar['isWeekday_PH'] = df_calendar.isWeekday & (df_calendar.iPH)
df_calendar['isWeekend_PH'] = df_calendar.isWeekend & (df_calendar.iPH)
df_calendar['isAnyHoliday'] = df_calendar.isWeekend & ((df_calendar.iPH).astype(bool) | 
                                                       (df_calendar.iSchoolH).astype(bool))
df_calendar['isWeekdayBeforeHoliday'] = df_calendar.shift(1).isAnyHoliday & df_calendar.isWeekday
df_calendar['isWeekdayAfterHoliday'] = df_calendar.shift(-1).isAnyHoliday & df_calendar.isWeekday
df_calendar['isWeekdayBeforePH'] = df_calendar.shift(1).iPH & df_calendar.isWeekday
df_calendar['isWeekdayAfterPH'] = df_calendar.shift(-1).iPH & df_calendar.isWeekday

# Friday
df_calendar['isBeforeWeekend'] = df_calendar.Date.dt.dayofweek == 4 

# Monday
df_calendar['isBeforeWeekend'] = df_calendar.Date.dt.dayofweek == 0

# Is Long Weekday


df_calendar['isLongWeekend'] = (df_calendar.isBeforeWeekend & df_calendar.isWeekday.shift(-1)
                                (df_calendar.isWeekday.shift(-1) | ) | 
                                df_calendar.isWeekday.shift(-2))

In [84]:
# After df_calendar.shift(-1)
# Before df_calendar.shift(1)

,Date_YYYYMMDD,Date,CalendarYear,CalendarWeek,FinancialWeek,DayType,DayTypeCategory,WeekdaySeq,WeekDay,ABSWeek,diff,isDiff,isWeekday,isWeekend
0,20190620.0,2019-06-20,2019.0,24.0,51.0,Weekday,Weekday,0,4.0,6.0,0.0,False,False,True
3,20170831.0,2017-08-31,2017.0,35.0,9.0,Weekday,Weekday,Normal Weekday,4.0,8.0,0.0,False,False,True
4,20150908.0,2015-09-08,2015.0,36.0,10.0,Weekday,Weekday,Normal Weekday,2.0,9.0,0.0,False,False,True
5,20161229.0,2016-12-29,2016.0,52.0,26.0,Weekday,Weekday,School Holiday Weekday,4.0,12.0,0.0,False,False,True
7,20190605.0,2019-06-05,2019.0,22.0,49.0,Weekday,Weekday,0,3.0,6.0,0.0,False,False,True
10,20170415.0,2017-04-15,2017.0,15.0,41.0,Public Holiday,Public Holiday,Public Holiday,6.0,4.0,0.0,False,True,False
12,20160520.0,2016-05-20,2016.0,20.0,46.0,Weekday,Weekday,Normal Weekday,5.0,5.0,0.0,False,False,True
13,20180407.0,2018-04-07,2018.0,13.0,40.0,Saturday,Weekend,Saturday,6.0,4.0,0.0,False,True,False
14,20171122.0,2017-11-22,2017.0,47.0,21.0,Weekday,Weekday,Normal Weekday,3.0,11.0,0.0,False,False,True
16,20180920.0,2018-09-20,2018.0,37.0,12.0,Weekday,Weekday,Normal Weekday,4.0,9.0,0.0,False,False,True
17,20170528.0,2017-05-28,2017.0,22.0,48.0,Sunday,Weekend,Sunday,7.0,5.0,0.0,False,True,False
18,20180423.0,2018-04-23,2018.0,16.0,43.0,Weekday,Weekday,Normal Weekday,1.0,4.0,0.0,False,False,True
24,20171204.0,2017-12-04,2017.0,49.0,23.0,Weekday,Weekday,Normal Weekday,1.0,12.0,0.0,False,False,True
25,20150719.0,2015-07-19,2015.0,29.0,3.0,Sunday,Weekend,Sunday,7.0,7.0,0.0,False,True,False
33,20190317.0,2019-03-17,2019.0,11.0,38.0,Sunday,Weekend,0,7.0,3.0,0.0,False,True,False
35,20151003.0,2015-10-03,2015.0,39.0,13.0,Saturday,Weekend,Saturday,6.0,10.0,0.0,False,True,False
42,20161127.0,2016-11-27,2016.0,48.0,22.0,Sunday,Weekend,Sunday,7.0,11.0,0.0,False,True,False
46,20180625.0,2018-06-25,2018.0,25.0,52.0,Weekday,Weekday,Normal Weekday,1.0,6.0,0.0,False,False,True
49,20161006.0,2016-10-06,2016.0,40.0,14.0,Weekday,Weekday,Normal Weekday,4.0,10.0,0.0,False,False,True
55,20190905.0,2019-09-05,2019.0,35.0,9.0,Weekday,Weekday,0,4.0,9.0,0.0,False,False,True
69,20170720.0,2017-07-20,2017.0,29.0,3.0,Weekday,Weekday,Normal Weekday,4.0,7.0,0.0,False,False,True
82,20171015.0,2017-10-15,2017.0,42.0,16.0,Sunday,Weekend,Sunday,7.0,10.0,0.0,False,True,False
92,20150412.0,2015-04-12,2015.0,15.0,41.0,Sunday,Weekend,Sunday,7.0,4.0,0.0,False,True,False
98,20150526.0,2015-05-26,2015.0,21.0,47.0,Weekday,Weekday,Normal Weekday,2.0,5.0,0.0,False,False,True
101,20171025.0,2017-10-25,2017.0,43.0,17.0,Weekday,Weekday,Normal Weekday,3.0,10.0,0.0,False,False,True
107,20160713.0,2016-07-13,2016.0,28.0,2.0,Weekday,Weekday,Normal Weekday,3.0,7.0,0.0,False,False,True
109,20160229.0,2016-02-29,2016.0,9.0,35.0,Weekday,Weekday,Normal Weekday,1.0,2.0,0.0,False,False,True
114,20191016.0,2019-10-16,2019.0,41.0,15.0,Weekday,Weekday,0,3.0,10.0,0.0,False,False,True
117,20190928.0,2019-09-28,2019.0,38.0,12.0,Saturday,Weekend,0,6.0,9.0,0.0,False,True,False
119,20151102.0,2015-11-02,2015.0,44.0,18.0,Weekday,Weekday,Normal Weekday,1.0,11.0,0.0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7332,20180212.0,2018-02-12,2018.0,6.0,33.0,Weekday,Weekday,Normal Weekday,1.0,2.0,0.0,False,False,True
7342,20190321.0,2019-03-21,2019.0,11.0,38.0,Weekday,Weekday,0,4.0,3.0,0.0,False,False,True
7348,20170405.0,2017-04-05,2017.0,14.0,40.0,Weekday,Weekday,School Holiday Weekday,3.0,4.0,0.0,False,False,True
7349,20171121.0,2017-11-21,2017.0,47.0,21.0,Weekday,Weekday,Normal Weekday,2.0,11.0,0.0,False,False,True
7350,20170716.0,2017-07-16,2017.0,29.0,3.0,Sunday,Weekend,Sunday,7.0,7.0,0.0,False,True,False
7352,20160107.0,2016-01-07,2016.0,1.0,27.0,Weekday,Weekday,School Holiday Weekday,4.0,1.0,0.0,False,False,True
7353,20170429.0,2017-04-29,2017.0,17.0,43.0,Saturday,Weekend,Saturday,6.0,4.0,0.0,False,True,False
7356,20161130.0,2016-11-30,2016.0,48.0,22.0,Weekday,Weekday,Normal Weekday,3.0,11.0,0.0,False,False,True
7360,20170108.0,2017-01-08,2017.0,2.0,28.0,Sunday,Weekend,Sunday,7.0,1.0,0.0,False,True,False
7361,20180510.0,2018-05-10,2018.0,18.0,45.0,Weekday,Weekday,Normal Weekday,4.0,5.0,0.0,False,False,True
7365,20180516.0,2018-05-16,2018.0,19.0,46.0,Weekday,Weekday,Normal Weekday,3.0,5.0,0.0,False,False,True
7369,20180522.0,2018-05-22,2018.0,20.0,47.0,Weekday,Weekday,Normal Weekday,2.0,5.0,0.0,False,False,True
7374,20170707.0,2017-07-07,2017.0,27.0,1.0,Weekday,Weekday,School Holiday Weekday,5.0,7.0,0.0,False,False,True
7376,20190719.0,2019-07-19,2019.0,28.0,2.0,Weekday,Weekday,0,5.0,7.0,0.0,False,False,True
7378,20181205.0,2018-12-05,2018.0,48.0,23.0,Weekday,Weekday,Normal Weekday,3.0,12.0,0.0,False,False,True
7379,20190511.0,2019-05-11,2019.0,18.0,45.0,Saturday,Weekend,0,6.0,5.0,0.0,False,True,False
7381,20160320.0,2016-03-20,2016.0,12.0,38.0,Sunday,Weekend,Sunday,7.0,3.0,0.0,False,True,False
7384,20200321.0,2020-03-21,2020.0,11.0,37.0,Saturday,Weekend,0,6.0,3.0,0.0,False,True,False
7386,20191119.0,2019-11-19,2019.0,46.0,20.0,Weekday,Weekday,0,2.0,11.0,0.0,False,False,True
7391,20190125.0,2019-01-25,2019.0,3.0,30.0,Weekday,Weekday,0,5.0,1.0,0.0,False,False,True
7394,20190318.0,2019-03-18,2019.0,11.0,38.0,Weekday,Weekday,0,1.0,3.0,0.0,False,False,True
7401,20170328.0,2017-03-28,2017.0,13.0,39.0,Weekday,Weekday,Normal Weekday,2.0,3.0,0.0,False,False,True
7411,20160618.0,2016-06-18,2016.0,24.0,50.0,Saturday,Weekend,Saturday,6.0,6.0,0.0,False,True,False
7417,20170916.0,2017-09-16,2017.0,37.0,11.0,Saturday,Weekend,Saturday,6.0,9.0,0.0,False,True,False
7421,20181030.0,2018-10-30,2018.0,43.0,18.0,Weekday,Weekday,Normal Weekday,2.0,10.0,0.0,False,False,True
7424,20170412.0,2017-04-12,2017.0,15.0,41.0,Weekday,Weekday,School Holiday Weekday,3.0,4.0,0.0,False,False,True
7434,20200506.0,2020-05-06,2020.0,18.0,44.0,Weekday,Weekday,0,3.0,5.0,0.0,False,False,True
7436,20190801.0,2019-08-01,2019.0,30.0,4.0,Weekday,Weekday,0,4.0,8.0,0.0,False,False,True
7437,20200417.0,2020-04-17,2020.0,15.0,41.0,Weekday,Weekday,0,5.0,4.0,0.0,False,False,True
7438,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_calendar.DayType == Week

In [ ]:
# Creating feature like before or after weekend

In [ ]:
col_toDummy = ['CalendarYear', 'DayType', 'DayTypeCategory']

------
Date_YYYYMMDD         7440 non-null int64  --> not needed. duplicate of "Date
Date                  7440 non-null object --> convert to datetime
CalendarYear          7440 non-null int64  --> YYYY format , range between 2000-2020
FinancialYear         7440 non-null object --> finance year 
FinancialMonth        7440 non-null int64
CalendarMonth         7440 non-null object
CalendarMonthSeq      7440 non-null int64
CalendarQuarter       7440 non-null object
FinancialQuarter      7440 non-null object
CalendarWeek          7440 non-null int64
FinancialWeek         7440 non-null int64
DayType               7440 non-null object
DayTypeCategory       7440 non-null object
WeekdaySeq            7440 non-null object
WeekDay               7440 non-null int64
FinancialMonthSeq     7440 non-null object
FinancialMonthName    7440 non-null int64
MonthNumber           7440 non-null object
ABSWeek               7440 non-null int64
WeekEnding            7440 non-null int64
QuarterName           7440 non-null object

In [24]:
pd.to_datetime(calendar_df["Date_YYYYMMDD"]).head(5)

0   1970-01-01 00:00:00.020170930
1   1970-01-01 00:00:00.020080615
2   1970-01-01 00:00:00.020040222
3   1970-01-01 00:00:00.020190620
4   1970-01-01 00:00:00.020170831
Name: Date_YYYYMMDD, dtype: datetime64[ns]

In [26]:
pd.to_datetime(calendar_df["Date"]).head(5)

0   2017-09-30
1   2008-06-15
2   2004-02-22
3   2019-06-20
4   2017-08-31
Name: Date, dtype: datetime64[ns]

In [27]:
calendar_df.sort_values("CalendarYear").year.unique()

AttributeError: 'DataFrame' object has no attribute 'year'

In [7]:
calendar_df.sort_values("financial_year").financial_year.unique()

array(['FY1999 - 2000', 'FY2000 - 2001', 'FY2001 - 2002', 'FY2002 - 2003',
       'FY2003 - 2004', 'FY2004 - 2005', 'FY2005 - 2006', 'FY2006 - 2007',
       'FY2007 - 2008', 'FY2008 - 2009', 'FY2009 - 2010', 'FY2010 - 2011',
       'FY2011 - 2012', 'FY2012 - 2013', 'FY2013 - 2014', 'FY2014 - 2015',
       'FY2015 - 2016', 'FY2016 - 2017', 'FY2017 - 2018', 'FY2018 - 2019',
       'FY2019 - 2020'], dtype=object)

In [8]:
calendar_df.sort_values("number_4x").number_4x.unique()

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18])

In [9]:
calendar_df.sort_values("number_4x").head()

,yyyymmdd,date,year,financial_year,number_4x,month,yyyymm,quarter,fy_quarter,weekx,...,transport_day,day_or_end,day_type,day_of_week,day,yyyyxx,MMM_YYx,M,number_19x,week endingx
5130,20110705,2011-07-05,2011,FY2011 - 2012,7,July,201107,2011Q3,FY11-12Q1,27,...,Weekday,Weekday,School Holiday Weekday,2,Tuesday,201107,Jul 11/,7,914,w/e 2011-07-09
3380,20100720,2010-07-20,2010,FY2010 - 2011,7,July,201007,2010Q3,FY10-11Q1,29,...,Weekday,Weekday,Normal Weekday,2,Tuesday,201007,Jul 10/,7,864,w/e 2010-07-24
3378,20030715,2003-07-15,2003,FY2003 - 2004,7,July,200307,2003Q3,FY03-04Q1,28,...,Weekday,Weekday,Normal Weekday,2,Tuesday,200407,Jul 03/,7,498,w/e 2003-07-19
3377,20110701,2011-07-01,2011,FY2011 - 2012,7,July,201107,2011Q3,FY11-12Q1,26,...,Weekday,Weekday,Normal Weekday,5,Friday,201107,Jul 11/,7,913,w/e 2011-07-02
3364,20100725,2010-07-25,2010,FY2010 - 2011,7,July,201007,2010Q3,FY10-11Q1,30,...,Sunday,Weekend,Sunday,7,Sunday,201007,Jul 10/,7,865,w/e 2010-07-31

In [10]:
what_number4x = calendar_df["number_4x"] == 9
calendar_df[what_number4x].head()

,yyyymmdd,date,year,financial_year,number_4x,month,yyyymm,quarter,fy_quarter,weekx,...,transport_day,day_or_end,day_type,day_of_week,day,yyyyxx,MMM_YYx,M,number_19x,week endingx
0,20170930,2017-09-30,2017,FY2017 - 2018,9,September,201709,2017Q3,FY17-18Q1,39,...,Saturday,Weekend,Saturday,6,Saturday,201709,Sep 17/,9,1239,w/e 2017-09-30
5,20150908,2015-09-08,2015,FY2015 - 2016,9,September,201509,2015Q3,FY15-16Q1,36,...,Weekday,Weekday,Normal Weekday,2,Tuesday,201509,Sep 15/,9,1132,w/e 2015-09-12
17,20180920,2018-09-20,2018,FY2018 - 2019,9,September,201809,2018Q3,FY18-19Q1,37,...,Weekday,Weekday,Normal Weekday,4,Thursday,201809,Sep 18/,9,1290,w/e 2018-09-22
22,20100911,2010-09-11,2010,FY2010 - 2011,9,September,201009,2010Q3,FY10-11Q1,36,...,Saturday,Weekend,Saturday,6,Saturday,201009,Sep 10/,9,871,w/e 2010-09-11
45,20000925,2000-09-25,2000,FY2000 - 2001,9,September,200009,2000Q3,FY00-01Q1,39,...,Weekday,Weekday,School Holiday Weekday,1,Monday,200109,Sep 00/,9,352,w/e 2000-09-30

In [11]:
#####
####From here.. rewrite the  code to read meaningful data
#####
####yyyymmdd          7440 non-null int64   ->> dupliate as "date", ignore
####date              7440 non-null object  -->convert to date
####year              7440 non-null int64   -->YYY format , rquired for reporting 2000-2020
####financial_year    7440 non-null object  -->FY2017-18, required for reporting Y
####number_4x         7440 non-null int64   -->start with 7 - July, end with 18 June
####month             7440 non-null object
####yyyymm            7440 non-null int64
####quarter           7440 non-null object
####fy_quarter        7440 non-null object
####week?             7440 non-null int64
####10                7440 non-null int64
####transport_day     7440 non-null object
####day_or_end        7440 non-null object
####day_type          7440 non-null object
####day_of_week       7440 non-null int64
####day               7440 non-null object
####yyyy??            7440 non-null int64
####MMM YY/           7440 non-null object
####M                 7440 non-null int64
####number_19?        7440 non-null int64
####week ending?      7440 non-null object

In [12]:
cal_df = pd.read_csv("/Users/michael/Documents/MelbDatathon2018/calendar.txt", 
                          sep="|",
                          header=None,
                          index_col=False,
                          names=[
                              'yyyymmdd',
                              'date',
                              'year',
                              'financial_year',
                              'number_4x',
                              'month',
                              'yyyymm',
                              'quarter',
                              'fy_quarter',
                              'week?',
                              '10' ,
                              'transport_day',
                              'day_or_end',
                              'day_type',
                              'day_of_week',
                              'day',
                              'yyyy??',
                              'MMM YY/',
                              'M',
                              'number_19?',
                              'week ending?'
                          ],
                         parse_dates = ["date"])

In [13]:
cal_df.head()

,yyyymmdd,date,year,financial_year,number_4x,month,yyyymm,quarter,fy_quarter,week?,...,transport_day,day_or_end,day_type,day_of_week,day,yyyy??,MMM YY/,M,number_19?,week ending?
0,20170930,2017-09-30,2017,FY2017 - 2018,9,September,201709,2017Q3,FY17-18Q1,39,...,Saturday,Weekend,Saturday,6,Saturday,201709,Sep 17/,9,1239,w/e 2017-09-30
1,20080615,2008-06-15,2008,FY2007 - 2008,18,June,200806,2008Q2,FY07-08Q4,24,...,Sunday,Weekend,Sunday,7,Sunday,200818,Jun 07/,6,755,w/e 2008-06-21
2,20040222,2004-02-22,2004,FY2003 - 2004,14,February,200402,2004Q1,FY03-04Q3,8,...,Sunday,Weekend,Normal Sunday,7,Sunday,200414,Feb 03/,2,530,w/e 2004-02-28
3,20190620,2019-06-20,2019,FY2018 - 2019,18,June,201906,2019Q2,FY18-19Q4,24,...,Weekday,Weekday,0,4,Thursday,201906,Jun 18/,6,1329,w/e 2019-06-22
4,20170831,2017-08-31,2017,FY2017 - 2018,8,August,201708,2017Q3,FY17-18Q1,35,...,Weekday,Weekday,Normal Weekday,4,Thursday,201708,Aug 17/,8,1235,w/e 2017-09-02