# What is calendar.txt?

Quick overview of the data

In [6]:
import pandas as pd

calendar_df = pd.read_csv("../MelbDatathon2018/calendar.txt", sep="|")

calendar_df

,20170930,2017-09-30,2017,FY2017 - 2018,9,September,201709,2017Q3,FY17-18Q1,39,...,Weekend,Saturday.1,6,Saturday.2,201709.1,Sep 17/,9.1,1239,w/e 2017-09-30,September Qtr. 2017
0,20080615,2008-06-15,2008,FY2007 - 2008,18,June,200806,2008Q2,FY07-08Q4,24,...,Weekend,Sunday,7,Sunday,200818,Jun 07/,6,755,w/e 2008-06-21,June Qtr. 2008
1,20040222,2004-02-22,2004,FY2003 - 2004,14,February,200402,2004Q1,FY03-04Q3,8,...,Weekend,Normal Sunday,7,Sunday,200414,Feb 03/,2,530,w/e 2004-02-28,March Qtr. 2004
2,20190620,2019-06-20,2019,FY2018 - 2019,18,June,201906,2019Q2,FY18-19Q4,24,...,Weekday,0,4,Thursday,201906,Jun 18/,6,1329,w/e 2019-06-22,June Qtr. 2019
3,20170831,2017-08-31,2017,FY2017 - 2018,8,August,201708,2017Q3,FY17-18Q1,35,...,Weekday,Normal Weekday,4,Thursday,201708,Aug 17/,8,1235,w/e 2017-09-02,September Qtr. 2017
4,20150908,2015-09-08,2015,FY2015 - 2016,9,September,201509,2015Q3,FY15-16Q1,36,...,Weekday,Normal Weekday,2,Tuesday,201509,Sep 15/,9,1132,w/e 2015-09-12,September Qtr. 2015
5,20090728,2009-07-28,2009,FY2009 - 2010,7,July,200907,2009Q3,FY09-10Q1,30,...,Weekday,Normal Weekday,2,Tuesday,200907,Jul 09/,7,813,w/e 2009-08-01,September Qtr. 2009
6,20161229,2016-12-29,2016,FY2016 - 2017,12,December,201612,2016Q4,FY16-17Q2,52,...,Weekday,School Holiday Weekday,4,Thursday,201612,Dec 16/,12,1200,w/e 2016-12-31,December Qtr. 2016
7,20100113,2010-01-13,2010,FY2009 - 2010,13,January,201001,2010Q1,FY09-10Q3,2,...,Weekday,School Holiday Weekday,3,Wednesday,201013,Jan 09/,1,837,w/e 2010-01-16,March Qtr. 2010
8,20081123,2008-11-23,2008,FY2008 - 2009,11,November,200811,2008Q4,FY08-09Q2,47,...,Weekend,Sunday,7,Sunday,200811,Nov 08/,11,778,w/e 2008-11-29,December Qtr. 2008
9,20190605,2019-06-05,2019,FY2018 - 2019,18,June,201906,2019Q2,FY18-19Q4,22,...,Weekday,0,3,Wednesday,201906,Jun 18/,6,1327,w/e 2019-06-08,June Qtr. 2019
10,20030411,2003-04-11,2003,FY2002 - 2003,16,April,200304,2003Q2,FY02-03Q4,14,...,Weekday,Normal Weekday,5,Friday,200316,Apr 02/,4,484,w/e 2003-04-12,June Qtr. 2003
11,20170415,2017-04-15,2017,FY2016 - 2017,16,April,201704,2017Q2,FY16-17Q4,15,...,Public Holiday,Public Holiday,6,Saturday,201704,Apr 16/,4,1215,w/e 2017-04-15,June Qtr. 2017
12,20160520,2016-05-20,2016,FY2015 - 2016,17,May,201605,2016Q2,FY15-16Q4,20,...,Weekday,Normal Weekday,5,Friday,201605,May 15/,5,1168,w/e 2016-05-21,June Qtr. 2016
13,20180407,2018-04-07,2018,FY2017 - 2018,16,April,201804,2018Q2,FY17-18Q4,13,...,Weekend,Saturday,6,Saturday,201804,Apr 17/,4,1266,w/e 2018-04-07,June Qtr. 2018
14,20030207,2003-02-07,2003,FY2002 - 2003,14,February,200302,2003Q1,FY02-03Q3,5,...,Weekday,Normal Weekday,5,Friday,200314,Feb 02/,2,475,w/e 2003-02-08,March Qtr. 2003
15,20171122,2017-11-22,2017,FY2017 - 2018,11,November,201711,2017Q4,FY17-18Q2,47,...,Weekday,Normal Weekday,3,Wednesday,201711,Nov 17/,11,1247,w/e 2017-11-25,December Qtr. 2017
16,20180920,2018-09-20,2018,FY2018 - 2019,9,September,201809,2018Q3,FY18-19Q1,37,...,Weekday,Normal Weekday,4,Thursday,201809,Sep 18/,9,1290,w/e 2018-09-22,September Qtr. 2018
17,20170528,2017-05-28,2017,FY2016 - 2017,17,May,201705,2017Q2,FY16-17Q4,22,...,Weekend,Sunday,7,Sunday,201705,May 16/,5,1222,w/e 2017-06-03,June Qtr. 2017
18,20110228,2011-02-28,2011,FY2010 - 2011,14,February,201102,2011Q1,FY10-11Q3,9,...,Weekday,Normal Weekday,1,Monday,201114,Feb 10/,2,896,w/e 2011-03-05,March Qtr. 2011
19,20141118,2014-11-18,2014,FY2014 - 2015,11,November,201411,2014Q4,FY14-15Q2,46,...,Weekday,Normal Weekday,2,Tuesday,201411,Nov 14/,11,1090,w/e 2014-11-22,December Qtr. 2014
20,20110817,2011-08-17,2011,FY2011 - 2012,8,August,201108,2011Q3,FY11-12Q1,33,...,Weekday,Normal Weekday,3,Wednesday,201108,Aug 11/,8,920,w/e 2011-08-20,September Qtr. 2011
21,20100911,2010-09-11,2010,FY2010 - 2011,9,September,201009,2010Q3,FY10-11Q1,36,...,Weekend,Saturday,6,Saturday,201009,Sep 10/,9,871,w/e 2010-09-11,September Qtr. 2010
22,20020815,2002-08-15,2002,FY2002 - 2003,8,August,200208,2002Q3,FY02-03Q1,32,...,Weekday,Normal Weekday,4,Thursday,200308,Aug 02/,8,450,w/e 2002-08-17,September Qtr. 2002
23,20180423,2018-04-23,2018,FY2017 - 2018,16,April,201804,2018Q2,FY17-18Q4,16,...,Weekday,Normal Weekday,1,Monday,201804,Apr 17/,4,1269,w/e 2018-04-28,June Qtr. 2018
24,20171204,2017-12-04,2017,FY2017 - 2018,12,December,201712,2017Q4,FY17-18Q2,49,...,Weekday,Normal Weekday,1,Monday,201712,Dec 17/,12,1249,w/e 2017-12-09,December Qtr. 2017
25,20120218,2012-02-18,2012,FY2011 - 2012,14,February,201202,2012Q1,FY11-12Q3,6,...,Weekend,Saturday,6,Saturday,201214,Feb 11/,2,946,w/e 2012-02-18,March Qtr. 2012
26,20051110,2005-11-10,2005,FY2005 - 2006,11,November,200511,2005Q4,FY05-06Q2,45,...,Weekday,Normal Weekday,4,Thursday,200511,Nov 05/,11,619,w/e 2005-11-12,December Qtr. 2005
27,20080112,2008-01-12,2008,FY2007 - 2008,13,January,200801,2008Q1,FY07-08Q3,1,...,Weekend,Saturday,6,Saturday,200813,Jan 07/,1,732,w/e 2008-01-12,March Qtr. 2008
28,20140608,2014-06-08,2014,FY2013 - 2014,18,June,201406,2014Q2,FY13-14Q4,23,...,Weekend,Sunday,7,Sunday,201406,Jun 13/,6,1067,w/e 2014-06-14,June Qtr. 2014
29,20040601,2004-06-01,2004,FY2003 - 2004,18,June,200406,2004Q2,FY03-04Q4,22,...,Weekday,Normal Weekday,2,Tuesday,200418,Jun 03/,6,544,w/e 2004-06-05,June Qtr. 2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7409,20141027,2014-10-27,2014,FY2014 - 2015,10,October,201410,2014Q4,FY14-15Q2,43,...,Weekday,Normal Weekday,1,Monday,201410,Oct 14/,10,1087,w/e 2014-11-01,December Qtr. 2014
7410,20170328,2017-03-28,2017,FY2016 - 2017,15,March,201703,2017Q1,FY16-17Q3,13,...,Weekday,Normal Weekday,2,Tuesday,201703,Mar 16/,3,1213,w/e 2017-04-01,March Qtr. 2017
7411,20060713,2006-07-13,2006,FY2006 - 2007,7,July,200607,2006Q3,FY06-07Q1,27,...,Weekday,Normal Weekday,4,Thursday,200607,Jul 06/,7,654,w/e 2006-07-15,September Qtr. 2006
7412,20010920,2001-09-20,2001,FY2001 - 2002,9,September,200109,2001Q3,FY01-02Q1,37,...,Weekday,Normal Weekday,4,Thursday,200209,Sep 01/,9,403,w/e 2001-09-22,September Qtr. 2001
7413,20090826,2009-08-26,2009,FY2009 - 2010,8,August,200908,2009Q3,FY09-10Q1,34,...,Weekday,Normal Weekday,3,Wednesday,200908,Aug 09/,8,817,w/e 2009-08-29,September Qtr. 2009
7414,20110811,2011-08-11,2011,FY2011 - 2012,8,August,201108,2011Q3,FY11-12Q1,32,...,Weekday,Normal Weekday,4,Thursday,201108,Aug 11/,8,919,w/e 2011-08-13,September Qtr. 2011
7415,20081117,2008-11-17,2008,FY2008 - 2009,11,November,200811,2008Q4,FY08-09Q2,46,...,Weekday,Normal Weekday,1,Monday,200811,Nov 08/,11,777,w/e 2008-11-22,December Qtr. 2008
7416,20160618,2016-06-18,2016,FY2015 - 2016,18,June,201606,2016Q2,FY15-16Q4,24,...,Weekend,Saturday,6,Saturday,201606,Jun 15/,6,1172,w/e 2016-06-18,June Qtr. 2016
7417,20070907,2007-09-07,2007,FY2007 - 2008,9,September,200709,2007Q3,FY07-08Q1,35,...,Weekday,Normal Weekday,5,Friday,200709,Sep 07/,9,714,w/e 2007-09-08,September Qtr. 2007
7418,20040205,2004-02-05,2004,FY2003 - 2004,14,February,200402,2004Q1,FY03-04Q3,5,...,Weekday,Normal Weekday,4,Thursday,200414,Feb 03/,2,527,w/e 2004-02-07,March Qtr. 2004
7419,20000610,2000-06-10,2000,FY1999 - 2000,18,June,200006,2000Q2,FY99-00Q4,23,...,Weekend,Normal Saturday,6,Saturday,200018,Jun 99/,6,336,w/e 2000-06-10,June Qtr. 2000
7420,20170916,2017-09-16,2017,FY2017 - 2018,9,September,201709,2017Q3,FY17-18Q1,37,...,Weekend,Saturday,6,Saturday,201709,Sep 17/,9,1237,w/e 2017-09-16,September Qtr. 2017
7421,20120711,2012-07-11,2012,FY2012 - 2013,7,July,201207,2012Q3,FY12-13Q1,27,...,Weekday,School Holiday Weekday,3,Wednesday,201207,Jul 12/,7,967,w/e 2012-07-14,September Qtr. 2012
7422,20051205,2005-12-05,2005,FY2005 - 2006,12,December,200512,2005Q4,FY05-06Q2,49,...,Weekday,Normal Weekday,1,Monday,200512,Dec 05/,12,623,w/e 2005-12-10,December Qtr. 2005
7423,20181030,2018-10-30,2018,FY2018 - 2019,10,October,201810,2018Q4,FY18-19Q2,43,...,Weekday,Normal Weekday,2,Tuesday,201810,Oct 18/,10,1296,w/e 2018-11-03,December Qtr. 2018
7424,20040329,2004-03-29,2004,FY2003 - 2004,15,March,200403,2004Q1,FY03-04Q3,13,...,Weekday,Normal Weekday,1,Monday,200415,Mar 03/,3,535,w/e 2004-04-03,March Qtr. 2004
7425,20091210,2009-12-10,2009,FY2009 - 2010,12,December,200912,2009Q4,FY09-10Q2,49,...,Weekday,Normal Weekday,4,Thursday,200912,Dec 09/,12,832,w/e 2009-12-12,December Qtr. 2009
7426,20110513,2011-05-13,2011,FY2010 - 2011,17,May,201105,2011Q2,FY10-11Q4,19,...,Weekday,Normal Weekday,5,Friday,201117,May 10/,5,906,w/e 2011-05-14,June Qtr. 2011
7427,20070729,2007-07-29,2007,FY2007 - 2008,7,July,200707,2007Q3,FY07-08Q1,30,...,Weekend,Sunday,7,Sunday,200707,Jul 07/,7,709,w/e 2007-08-04,September Qtr. 2007
7428,20001003,2000-10-03,2000,FY2000 - 2001,10,October,200010,2000Q4,FY00-01Q2,40,...,Weekday,Normal Weekday,2,Tuesday,200110,Oct 00/,10,353,w/e 2000-10-07,December Qtr. 2000
7429,20080404,2008-04-04,2008,FY2007 - 2008,16,April,200804,2008Q2,FY07-08Q4,13,...,Weekday,School Holiday Weekday,5,Friday,200816,Apr 07/,4,744,w/e 2008-04-05,June Qtr. 2008
7430,20140226,2014-02-26,2014,FY2013 - 2014,14,February,201402,2014Q1,FY13-14Q3,8,...,Weekday,Normal Weekday,3,Wednesday,201402,Feb 13/,2,1052,w/e 2014-03-01,March Qtr. 2014
7431,20030612,2003-06-12,2003,FY2002 - 2003,18,June,200306,2003Q2,FY02-03Q4,23,...,Weekday,Normal Weekday,4,Thursday,200318,Jun 02/,6,493,w/e 2003-06-14,June Qtr. 2003
7432,20020424,2002-04-24,2002,FY2001 - 2002,16,April,200204,2002Q2,FY01-02Q4,16,...,Weekday,Normal Weekday,3,Wednesday,200216,Apr 01/,4,434,w/e 2002-04-27,June Qtr. 2002
7433,20170412,2017-04-12,2017,FY2016 - 2017,16,April,201704,2017Q2,FY16-17Q4,15,...,Weekday,School Holiday Weekday,3,Wednesday,201704,Apr 16/,4,1215,w/e 2017-04-15,June Qtr. 2017
7434,20061110,2006-11-10,2006,FY2006 - 2007,11,November,200611,2006Q4,FY06-07Q2,44,...,Weekday,Normal Weekday,5,Friday,200611,Nov 06/,11,671,w/e 2006-11-11,December Qtr. 2006
7435,20200506,2020-05-06,2020,FY2019 - 2020,17,May,202005,2020Q2,FY19-20Q4,18,...,Weekday,0,3,Wednesday,202005,May 19/,5,1375,w/e 2020-05-09,June Qtr. 2020
7436,20190801,2019-08-01,2019,FY2019 - 2020,8,August,201908,2019Q3,FY19-20Q1,30,...,Weekday,0,4,Thursday,201908,Aug 19/,8,1335,w/e 2019-08-03,September Qtr. 2019
7437,20200417,2020-04-17,2020,FY2019 - 2020,16,April,202004,2020Q2,FY19-20Q4,15,...,Weekday,0,5,Friday,202004,Apr 19/,4,1372,w/e 2020-04-18,June Qtr. 2020
7438,20060322,2006-03-22,2006,FY2005 - 2006,15,March,200603,2006Q1,FY05-06Q3,11,...,Weekday,School Holiday Weekday,3,Wednesday,200615,Mar 05/,3,638,w/e 2006-03-25,March Qtr. 2006